body{
    margin: 0;             
    padding: 0;               
    width: 100vw;             
    height: 200vh;
    box-sizing: border-box;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191924;
  }
  .homepage{
    height: 100%;
    width: 80vw; 
    position: relative;
  }
  .bg{
    width: 10%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
  nav{
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: auto;
  }
  .banner{
    object-fit: cover;
    height: 100%;
    width: 100%
  }
  .invite{
    background-color: #c565b8;
    height: 20vh; 
    
  }