body{
    margin: 0;             
    padding: 0;               
    width: 100vw;             
    height: 200vh;
    box-sizing: border-box;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020203;
  }
  .homepage{
    height: 100%;
    width: 80vw; 
    background-color: #786485;
    position: relative;
    margin-top: 18vh;
    object-fit: contain;
    
  }
  .bg{
    width: 10%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
  nav{
    background-color: #e982e0;
    height: 18vh;
    width: 80vw;
    position: relative;
    top: -10vh;
    box-shadow: 1vh 1vh 1vh #464545;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #e651e6;

  }
  .banner{
    object-fit: fill;
    height: 100%;
    width: 100%
  }
  .invite{
    background-color: #c565b8;
    height: 20vh; 
    
  }